@charset "UTF-8";
/* BASE */
:root {
  --desaturated-red:  hsl(0, 36%, 70%);
  --soft-red:         hsl(0, 93%, 68%);
  --desaturated-red-focus: hsl(0, 24%, 45%);
  --dark-grayish-red: hsl(0, 6%, 24%);
  --linear-gradient-1-fallback: hsl(0, 100%, 98%);
  --linear-gradient-1: linear-gradient(135deg, hsl(0, 0%, 100%) 0%, hsl(0, 100%, 98%) 100%);
  --linear-gradient-2-fallback: hsl(0, 80%, 86%);
  --linear-gradient-2: linear-gradient(135deg, hsl(0, 80%, 86%) 0%, hsl(0, 74%, 74%) 100%);
  --linear-gradient-3-fallback: hsl(358, 76%, 92%);
  --linear-gradient-3: linear-gradient(to right, hsl(0, 80%, 92%) 0%, hsl(0, 80%, 86%) 100%);
}

/* SETUP */
html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background: var(--white);
  font-family: 'Josefin Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  color: var(--desaturated-red);
}

h1 {
  margin: 0;
}

/*
	Improved screen reader only CSS class
	@author Gaël Poupard
		@note Based on Yahoo!'s technique
		@author Thierry Koblentz
		@see https://developer.yahoo.com/blogs/ydn/clip-hidden-content-better-accessibility-53456.html
	* 1.
		@note `clip` is deprecated but works everywhere
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip
	* 2.
		@note `clip-path` is the future-proof version, but not very well supported yet
		@see https://developer.mozilla.org/en-US/docs/Web/CSS/clip-path
		@see http://caniuse.com/#search=clip-path
		@author Yvain Liechti
		@see https://twitter.com/ryuran78/status/778943389819604992
	* 3.
		@note preventing text to be condensed
		author J. Renée Beach
		@see https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
		@note Drupal 8 goes with word-wrap: normal instead
		@see https://www.drupal.org/node/2045151
		@see http://cgit.drupalcode.org/drupal/commit/?id=5b847ea
	* 4.
		@note !important is important
		@note Obviously you wanna hide something
		@author Harry Roberts
		@see https://csswizardry.com/2016/05/the-importance-of-important/
*/
.sr-only {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  /* 1 */
  clip-path: inset(50%) !important;
  /* 2 */
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
  /* 3 */
}

/*
	Use in conjunction with .sr-only to only display content when it's focused.
	@note Useful for skip links 
	@see http://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
	@note Based on a HTML5 Boilerplate technique, included in Bootstrap
	@note Fixed a bug with position: static on iOS 10.0.2 + VoiceOver
		@author Sylvain Pigeard
		@see https://github.com/twbs/bootstrap/issues/20732
*/
.sr-only-focusable:focus,
.sr-only-focusable:active {
  clip: auto !important;
  clip-path: none !important;
  height: auto !important;
  margin: auto !important;
  overflow: visible !important;
  width: auto !important;
  white-space: normal !important;
}

/* COMPONENTS */
/* GRID */
.main {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: max-content;
  grid-template-areas: "header" "visual" "soon";
  background: var(--linear-gradient-1-fallback);
  background: var(--linear-gradient-1);
}

@media (min-width: 768px) {
  .main {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: min-content 1fr;
    grid-template-areas: "header visual" "soon visual";
  }
}

/* PATTERN */
@media (min-width: 768px) {
  .pattern {
    background-image: url("/images/bg-pattern-desktop.svg");
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }
}

/* HEADER */
.header {
  grid-area: header;
  padding: 2rem;
}

.header__logo {
  display: flex;
  max-width: 100px;
}

/* VISUAL */
.visual {
  background-color: orange;
  grid-area: visual;
  max-height: 250px;
}

@media (min-width: 500px) {
  .visual {
    max-height: unset;
  }
}

.visual__image {
  display: flex;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* SOON */
.soon {
  grid-area: soon;
  padding: 2.5rem;
}

.soon__heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1rem;
  color: var(--desaturated-red);
  margin-bottom: 1rem;
}

.soon__heading > span {
  display: block;
  font-weight: 600;
  color: var(--dark-grayish-red);
}

.soon__text {
  text-align: center;
  font-size: 0.875rem;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .soon__text {
    font-size: 1rem;
  }
}

.subscribe button, .subscribe input, .subscribe select, .subscribe textarea {
  font-family: inherit;
  font-size: 0.875rem;
  border-radius: 3rem;
}

.subscribe button:focus, .subscribe input:focus, .subscribe select:focus, .subscribe textarea:focus {
  outline: 2px dotted var(--desaturated-red);
}

.subscribe__group {
  position: relative;
}

.subscribe__email {
  padding: .9rem 7rem .75rem 1.2rem;
  background-color: transparent;
  color: var(--desaturated-red);
  border: 1px solid var(--desaturated-red);
  width: 100%;
}

.subscribe__email.email--error {
  border: none;
  box-shadow: 0px 0px 0px 2px rgba(180, 0, 0, 0.75);
}

.subscribe__error-icon {
  position: absolute;
  top: 25%;
  right: 5rem;
}

.subscribe__submit {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  background: var(--linear-gradient-2-fallback);
  background: var(--linear-gradient-2);
  color: var(--desaturated-red);
  border: none;
  width: 4.5rem;
  box-shadow: 0px 15px 40px -10px rgba(248, 150, 150, 0.85);
}

.subscribe__submit:hover {
  background: var(--linear-gradient-3-fallback);
  background: var(--linear-gradient-3);
  box-shadow: 0px 15px 40px -10px #f89696;
  cursor: pointer;
}

.subscribe__error-text {
  padding: 0 1.2rem;
  font-size: 0.75rem;
  color: var(--soft-red);
}
/*# sourceMappingURL=main.css.map */