/* HEADER */ 

.header {  
    grid-area: header;

    &__content {
        padding: 2rem 0;
        margin: 0 auto;
        width: 80%;
        max-width: 600px;

        @include breakpoint-up(small){
            padding: 3rem 0 0;
        }

        @include breakpoint-up(medium){  
            padding: 4rem 0 0;
            max-width: 490px;
        }
        
    }


    &__logo {
        display: flex;
        max-width: 100px;

        @include breakpoint-up(small){
            max-width: 130px;
        }

        @include breakpoint-up(medium){
            max-width: 160px;
        }
    }
    
}