/* VISUAL */

.visual {
    background-color: var(--desaturated-red);
    grid-area: visual;

    max-height: 15.625rem;

    @include breakpoint-up(xsmall) {
        max-height: 26.25rem;
    }

    @include breakpoint-up(small) {
        max-height: unset;
    }

    &__image {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;

        @include breakpoint-up(xsmall) {
            object-position: 50% 25%;
        }

        
    }
}